.histology-img-container {
	display: flex;
	position: relative;
	overflow: hidden;

	/* temporary restriction until I figure out whats causing it to stretch the boundaries */
	max-height: 824px;
}

.histology-img-container .histology-img {
	-webkit-user-drag: none;
	max-height: 500px;

	/* this is a workaround to stop the browser downscaling images */
	/* https://stackoverflow.com/questions/37906602/blurry-downscaled-images-in-chrome */
	transform: translateZ(0);
}

.histology-img-labels {
	position: absolute;
	z-index: 1;
	pointer-events: none;
	max-height: 824px;
	max-height: 500px;
}
