/* 
The commented out max-height represents the exact dimensions based on my calculations.
I have commented it out because css can calculate the dimension automatically based on the image size
*/

.coronal-image {
	width: auto;
	height: auto;
	max-width: 200px;
	/* max-height: 158.865248px; */
}
