.panels-container {
	display: grid;
	grid-template-columns: 1fr 3fr 25px;
	grid-template-rows: 1fr 1fr 1fr;
	row-gap: 5px;
	column-gap: 5px;
	grid-template-areas:
		"side-panel-sagittal main-panel scroll-bar"
		"side-panel-coronal main-panel scroll-bar"
		"side-panel-axial main-panel scroll-bar";
}

.panels-container > * {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid green;
}

.panels-container .side-panel {
	width: 200px;
	height: 200px;

	background-color: black;
}

.panels-container .side-panel.sagittal {
	grid-area: side-panel-sagittal;
}

.panels-container .side-panel.coronal {
	grid-area: side-panel-coronal;
}

.panels-container .side-panel.axial {
	grid-area: side-panel-axial;
}

.panels-container .main-panel.histology {
	grid-area: main-panel;
}

.panels-container .scrollbar {
	grid-area: scroll-bar;
}
