.atlas-container {
	padding: 10px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	transform: scale(0.4);
}

@media (min-width: 900px) {
	.atlas-container {
		transform: scale(0.6);
	}
}

@media (min-width: 1400px) {
	.atlas-container {
		transform: scale(0.75);
	}
}

@media (min-width: 1800px) {
	.atlas-container {
		transform: scale(1);
	}
}
