.homepage-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 1rem;
}


.homepage-header {
	text-align: center;
}

.homepage-footer {
	display: flex;
	align-items: baseline;
	justify-content: center;
	width: 100%;
}

.header-banner {
	width: 800px;
}

.pipeline-banner {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}

.footer-logo {
	width: 200px;
	margin: 20px;
}

.homepage-title {
	text-align: center;
	width: 1000px;

}

.reference {
	color: white;
}

a, a:hover, a:active, a:visited { color: white; }

.tab { margin-left: 0px; }
