.panels-container {
	width: 800px;
	display: grid;
	grid-template-columns: 1fr 2fr 20px;
	grid-template-rows: 1fr 1fr 1fr;
	row-gap: 5px;
	column-gap: 5px;
	grid-template-areas:
		"side-panel-1 main-panel scrollbar"
		"side-panel-2 main-panel scrollbar"
		"side-panel-3 main-panel scrollbar";
}

.panels-container div {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid green;
}

.panels-container .side-panel-1 {
	grid-area: side-panel-1;
}

.panels-container .side-panel-2 {
	grid-area: side-panel-2;
}

.panels-container .side-panel-3 {
	grid-area: side-panel-3;
}

.panels-container .main-panel {
	grid-area: main-panel;
}

.panels-container .scrollbar {
	grid-area: scrollbar;
}
