.histology-scrollbar-container {
	height: 100%;
	width: 45px;
	flex-direction: column;
}

.histology-scrollbar {
	position: relative;
	height: 824px;
	width: 25px;
}

.histology-scrollbar-widget {
	width: 25px;
	height: 7px;
	background-color: black;
	position: absolute;
	top: 0;
	pointer-events: none;
}

.histology-scrollbar-increment-btn {
	width: 0;
	height: 0;
	margin: 5px;
	cursor: pointer;
	border-left: 13px solid transparent;
	border-right: 13px solid transparent;
}

.histology-scrollbar-increment-btn.up {
	border-bottom: 13px solid black;
}

.histology-scrollbar-increment-btn.down {
	border-top: 13px solid black;
}
