.mouse-pointer {
	position: absolute;

	/* 
	the -0.5px offset here is just for aesthetic purposes, 
	to make the pointer position more consistent with the mouse cursor position,
	this is mainly important when zooming all the way in
	*/
	transform: translate(-0.5px, -1000px);
	z-index: 2;
	pointer-events: none;
}
.mouse-pointer:before,
.mouse-pointer:after {
	position: absolute;
	content: " ";
	height: 2000px;
	width: 2px;
	background-color: white;
}
.mouse-pointer:after {
	transform: rotate(-90deg);
}

.mouse-pointer.mouse-hi-res:before,
.mouse-pointer.mouse-hi-res:after {
	width: 1px;
}
