.atlas-imgs-container {
	display: grid;
	grid-template-columns: 1fr 0.1fr 3fr 0.1fr;
	grid-template-rows: 1fr 1fr 1fr;
	row-gap: 5px;
	column-gap: 5px;
	grid-template-areas:
		"mri-img-sagittal sagittal-scrollbar histology-container histology-scrollbar"
		"mri-img-coronal coronal-scrollbar histology-container histology-scrollbar"
		"mri-img-axial axial-scrollbar histology-container histology-scrollbar";
}

.atlas-imgs-container > * {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
}

.atlas-imgs-container .mri-img {
	width: 270px;
	height: 270px;
	background-color: black;
}

.atlas-imgs-container .mri-img.sagittal {
	grid-area: mri-img-sagittal;
}

.atlas-imgs-container .mri-img.coronal {
	grid-area: mri-img-coronal;
}

.atlas-imgs-container .mri-img.axial {
	grid-area: mri-img-axial;
}

.atlas-imgs-container .histology-container {
	grid-area: histology-container;
	margin-left: 25px;
}

.mri-sagittal-scrollbar {
	grid-area: sagittal-scrollbar;
}

.mri-coronal-scrollbar {
	grid-area: coronal-scrollbar;
}

.mri-axial-scrollbar {
	grid-area: axial-scrollbar;
}

.histology-scrollbar-container {
	grid-area: histology-scrollbar;
}
