.atlas-imgs-container {
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr 1fr 1fr;
	row-gap: 5px;
	column-gap: 5px;
	grid-template-areas:
		"mri-img-sagittal histology-img"
		"mri-img-coronal histology-img"
		"mri-img-axial histology-img";
}

.atlas-imgs-container > * {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid black;
}

.atlas-imgs-container .mri-img {
	width: 270px;
	height: 270px;
	background-color: black;
}

.atlas-imgs-container .mri-img.sagittal {
	grid-area: mri-img-sagittal;
}

.atlas-imgs-container .mri-img.coronal {
	grid-area: mri-img-coronal;
}

.atlas-imgs-container .mri-img.axial {
	grid-area: mri-img-axial;
}

.atlas-imgs-container .histology-img.histology {
	grid-area: histology-img;
}
