.histology-img-container {
	display: flex;
	position: relative;

	/* temporary restriction until I figure out whats causing it to stretch the boundaries */
	max-height: 824px;
}

.histology-img-container .histology-img {
	-webkit-user-drag: none;

	/* make this not last child */
	margin-right: 15px;

	max-height: 824px;
	/* max-width: 400px; */
}

.label {
	top: 213px;
	left: 270px;
	width: 20px;
	height: 20px;
	background-color: rgba(255, 0, 0, 0.7);
	z-index: 1;
}
