.histology-img-container {
	display: flex;
	position: relative;
	/* border: 1px solid white; */

	/* temporary restriction until I figure out whats causing it to stretch the boundaries */
	max-height: 824px;
	overflow: hidden;
}

.histology-img-container .histology-img {
	-webkit-user-drag: none;
	max-height: 824px;

	transform: translateZ(0);
}

.histology-img-labels {
	position: absolute;
	z-index: 1;
	pointer-events: none;
	max-height: 824px;
}
