.options-container {
	width: 300px;
	display: grid;
	grid-template-columns: 25px 1fr;
	grid-template-rows: 6fr 1fr 1fr 1fr 1fr 1fr;
	row-gap: 5px;
	column-gap: 20px;
	margin-left: 7px;
	grid-template-areas:
		"scroll-bar atlas-navigation"
		"scroll-bar show-labels"
		"scroll-bar current-label"
		"scroll-bar label-transparency"
		"scroll-bar channel"
		"scroll-bar hi-res";
}

.options-container > div {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid red;
}

.options-container .histology-scrollbar {
	grid-area: scroll-bar;
	border: 1px solid black;
}

.options-container .atlas-navigation {
	grid-area: atlas-navigation;
}

.options-container .show-labels-container {
	grid-area: show-labels;
}

.options-container .label-transparency {
	grid-area: label-transparency;
}

.options-container .channel {
	grid-area: channel;
}

.options-container .current-label-container {
	grid-area: current-label;
}

.options-container .hi-res {
	grid-area: hi-res;
}
