.label-container {
	flex-direction: column;
}

.label-indicator {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.label-color-box {
	width: 20px;
	height: 20px;
	border: 1px solid black;
}
