.label-container {
	flex-direction: column;
}

.label-indicator {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.label-color-box {
	width: 15px;
	height: 15px;
	background-color: red;
	margin-right: 10px;
}
